html{
  font-size: 18px;
  font-family: Arial;
}
li.listabonita > li.li {
  list-style: none;
  border-width: 2px solid rgb(255, 0, 0);
  border-color:cornflowerblue;
  padding: 4px, 8px;
  border-radius: 3px;
  border-right-style: solid;
  border-left-style: solid;
}
li.listabonita {
  color: #353535;
}
li.listaBonita > li:first-child {
  border-top-style: solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
li.listaBonita > li:last-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-style: solid;
}
ul.listabonita>li:hover{
  background-color:cornflowerblue;
}
ul.listabonita>li.selecionado{
background-color:cornflowerblue;
border-color:blue;
border-bottom-style: solid;
}
ul.listabonita > li:not(.selecionado) + li{
  border-top-style:solid ;
}
